*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
#app/libs/
#base/libs/
#base/src/main/java/com/rebate/base/activity/
#base/src/main/java/com/rebate/base/adapter/
#base/src/main/res/drawable/
#commom/libs/
#commom/src/main/java/
#commom/src/main/res/drawable/
#entity/libs/
#entity/src/main/java/
#entity/src/main/res/drawable/
#http/libs/
#http/src/main/java/
#http/src/main/res/drawable/
#wedget/libs/
#wedget/src/main/java/
#wedget/src/main/res/drawable/
